@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/BricolageGrotesque-Regular.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/fonts/BricolageGrotesque-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 200;
  color: #000;
}

.navbarUser {
  width: 100%;
  background-color: #f8f8f8;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.btnNav {
  border: none;
  cursor: pointer;
  gap: 10px;
}

.logo {
  display: flex;
  align-self: baseline;
  justify-self: flex-start;
}

.logo img {
  width: 80px;
  height: 100%;
}

.restNav {
  display: flex;
  align-items: center;
}

.navbarUser a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.btnsNav {
  padding-bottom: 20px;
}

.main {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-bottom: 1px solid black;
}

.sloganTitle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-align: end;
  display: flex;
  flex-direction: column;
}

.slogan {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 100px;
  color: #bb9cf3;
}

.catBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catBtn a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.catBtn a:active {
  background-color: #bb9cf3;
}

.homTitle {
  margin: 0;
  font-size: 5em;
  font-weight: 900;
}

.navbarUser .btnsNav:hover {
  border-bottom: 2px solid #bb9cf3;
}

.main form {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.main input[type="text"] {
  padding: 5px;
  width: 300px;

  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main input[type="text"]:focus {
  border: 2px solid #bb9cf3;
  outline: none;
}

.main input[type="submit"] {
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: white;
  color: black;
  font-family: "Bricolage Grotesque", sans-serif;
  cursor: pointer;
  border: 1px solid black;
}

.main input[type="submit"]:active {
  background-color: #bb9cf3;
  outline: none;
}

/* products */
.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.collectionItem {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 340px;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
